.privilege {
  width: 100%;
  background-color: #fff;
}

.privilege__section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid #eee;
  padding: 1.25rem;
  margin-bottom: 3.125rem;
}

.privilege__section:last-child {
  margin-bottom: 0rem;
}

.privilege__content {
  position: relative;
  z-index: 10;
}

.privilege__select {
  margin-bottom: 3.125rem;
}

.privilege-selected {
  outline: 2px solid #89da59;
  outline-offset: 3px;
}

.privilege__price span {
  margin-left: 3px;
}

.time-privilege__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.time-privilege__item {
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: 0.3s linear;
}

.time-privilege__item:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
}

.duration-selected {
  outline: 2px solid #89da59;
  outline-offset: 3px;
}

.time-privilege__time {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.625rem;
}

.time-privilege__result-price {
  font-size: 1.125rem;
}

.privilege-form__wrapper {
  display: flex;
  justify-content: center;
}

.privilege-form__btn {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 1.125rem;
  text-align: center;
  width: 50%;
  line-height: 1.5em;
}

.time-privilege__discount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transform: rotate(20deg);
}

.time-privilege__discount span {
  font-weight: 700;
  font-size: 0.875rem;
}
