@use "../../../../utils/helpScss/functions.scss" as f;
@use "../../../../utils/helpScss/breakpoints.scss" as b;

@media (max-width: map-get(b.$breakpoints, "phoneLandscape")) {
  .item {
    font-size: f.rem(16);
  }
}

@media (max-width: map-get(b.$breakpoints, "phoneLandscapeExtra")) {
  .item {
    padding: f.rem(15);
  }
}

@media (max-width: map-get(b.$breakpoints, "phone")) {
  .item {
    font-size: f.rem(14);
  }
}
