/* 640 */

@media (max-width: 40em) {
  .register__icon {
    max-width: 6.25rem;
  }
  .register__header {
    margin-bottom: 1.5625rem;
    padding: 1.5625rem;
  }
}

/* 380 */

@media (max-width: 23.75em) {
  .register__body {
    flex-direction: column;
    width: 100%;
  }
  .register__body-info {
    align-self: center;
    text-align: center;
  }
  .register__icon {
    margin: 0rem 0rem 0.9375rem 0rem;
    transform: translateX(15px);
  }
}
