@use "../../../utils/helpScss/functions.scss" as f;

.field {
  padding: f.rem(20);
  background-color: #eee;
  border-radius: f.rem(6);
  font-size: f.rem(18);
  width: 100%;
}

@import "./media.scss";
