.questions {
  width: 100%;
  background-color: #fff;
}

.questions__body-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.25rem;
}

.questions__body {
  position: relative;
  margin-bottom: 3.125rem;
}

.questions__body img {
  object-fit: cover;
  width: 100%;
  max-height: 31.25rem;
}

.questions__body-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.question__title {
  margin-bottom: 0.625rem;
}

.questions__body-section {
  margin-bottom: 6.25rem;
}

.questions__lists {
  margin-bottom: 6.25rem;
}

.questions__lists:last-child {
  margin-bottom: 0rem;
}

.questions__section-name {
  margin-bottom: 1.5625rem;
  font-weight: 200;
}
