/* 920 */

@media (max-width: 57.5em) {
  .field-fill {
    flex-direction: column;
    align-items: flex-start;
  }
  .field-fill__body-info {
    flex: 1 1 100%;
    width: 100%;
    margin-bottom: 1.5625rem;
  }
  .field-fill__body-field {
    width: 100%;
  }
}

/* 520 */

@media (max-width: 32.5em) {
  .field-fill__point {
    width: 80px;
    font-size: 2.25rem;
    height: 80px;
  }
}

/* 480 */

@media (max-width: 30em) {
  .field-fill__point {
    width: 70px;
    font-size: 1.75rem;
    height: 70px;
  }
  .field-fill__point-title {
    font-size: 1rem;
  }
  .field-fill__text {
    font-size: 0.875rem;
  }
}

/* 380 */

@media (max-width: 23.75em) {
  .field-fill__point {
    flex: 1 1 30%;
  }
}
