/* 640 */

@media (max-width: 40em) {
  .opportunity-privilege__header {
    flex-direction: column;
    align-items: center;
  }
  .opportunity-privilege__body-explain {
    order: 2;
    flex-basis: 100%;
    text-align: center;
  }
  .opportunity-privilege__image {
    order: 1;
    margin-bottom: 0.9375rem;
  }
  .opportunity__title {
    margin-bottom: 0.9375rem;
  }
}

/* 520 */

@media (max-width: 32.5em) {
  .opportunity-privilege__header {
    padding: 1.5625rem;
  }
}

/* 380 */

@media (max-width: 23.75rem) {
  .privilege-has__item {
    font-size: 0.875rem;
  }
  .opportunity-privilege__image {
    display: none;
  }
}
