@use "../../../../utils/helpScss/functions.scss" as f;

.serverName {
  margin-bottom: f.rem(5);
  font-weight: 500;
}

.countPlayers {
  margin-bottom: f.rem(10);
}

.indicatorContainer {
  width: 100%;
  height: 6px;
  border-radius: f.rem(6);
  background-color: #c5c1c1;
  position: relative;
}

.indicator {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: rgb(40, 163, 40);
  border-radius: f.rem(6);
}

.list{
    padding: 0 f.rem(15);
}

@import './media.scss';