.questions__body-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.25rem;
}
.questions__body-section {
  margin-bottom: 6.25rem;
}
