.settings-profile__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.settings-profile__title {
  margin-bottom: 0.9375rem;
  text-align: center;
}

.settings-profile__description {
  text-align: center;
  max-width: 21.875rem;
  margin-bottom: 1.5625rem;
  flex: 1 1 auto;
}

.settings-profile__body-settings {
  margin-right: 0.9375rem;
  display: flex;
  flex-direction: column;
}

.settings-profile__download {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 0.625rem;
  color: #fff;
}

.settings-profile__download input {
  width: 100%;
}

