@use "../../../../styles/style.module.scss" as c;
@use "../../../../utils/helpScss/functions.scss" as f;

.privilegeDuration {
  font-weight: 700;
  text-align: center;
  margin-bottom: f.rem(10);
}

.title {
  margin-bottom: f.rem(25);
}


.discount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: map-get(c.$colors, "orange-red");
  padding: f.rem(8);
  border-radius: f.rem(8);
  transform: rotate(20deg);
  span {
    font-weight: 700;
    font-size: f.rem(14);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(f.rem(200), 1fr));
  gap: f.rem(25);
  margin-bottom: f.rem(25);
}
