/* 480 */

@media (max-width: 30rem) {
  .about-mods__item {
    flex-direction: column;
    align-items: center;
  }
  .about-mods__icon {
    margin-right: 0rem;
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-bottom: 1.5625rem;
  }
  .info-server__title {
    font-size: 2.625rem;
  }
  .about-mods {
    padding: 0.9375rem;
  }
}

/* 380 */

@media (max-width: 23.75rem) {
  .info-server__title {
    font-size: 2.25rem;
  }
}
