@use "../../../../utils/helpScss/functions.scss" as f;

.aboutMods {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: f.rem(20);
}

.title {
  margin-bottom: f.rem(25);
}

.item {
  padding: f.rem(20);
  width: 100%;
  margin-bottom: f.rem(10);
  background-color: rgba(128, 189, 158, 0.5);
  display: flex;
  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  margin-right: f.rem(25);
  object-fit: contain;
}

.nameMode {
  // font-size: f.rem(24);
  font-weight: 700;
  margin-bottom: f.rem(5);
  line-height: f.em(24, 16);
}

@import './media.scss';