/* 520 */

@media (max-width: 32.5em) {
  .show-servers {
    height: 18.75rem;
    width: 100%;
    margin-bottom: 50px;
  }
  .news__title {
    font-size: 1.5rem;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}
