@use "../../utils/helpScss/functions.scss" as f;
@use "../../utils/helpScss/breakpoints.scss" as b;

@media (max-width: map-get(b.$breakpoints, "phoneLandscape")) {
  .showServers {
    height: f.rem(300);
    width: 100%;
    margin-bottom: f.rem(50);
  }
  .title {
    font-size: f.rem(24);
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .servers{
    max-height: f.rem(300);
  }
}
