.user-header {
  position: relative;
  padding: 3.125rem 3.125rem 0rem 3.125rem;
  color: #fff;
}

.user-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 300px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
}

.user-header__wrapper {
  position: relative;
  z-index: 10;
  display: flex;
}

.user-header__avatar img {
  width: 200px;
  height: 200px;
}

.user-header__user-info {
  display: flex;
}

.user-header__avatar {
  margin-right: 3.125rem;
}

.user-header__title {
  margin-bottom: 5px;
}

.user-header__greetings {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.1em;
  margin-bottom: 3px;
}

.user-header__name {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.5em;
}

.user-header__return {
  display: inline-block;
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.6px;
  background-color: rgba(249, 136, 102, 0.5);
  padding: 10px 30px;
  margin-top: 15px;
  border-radius: 8px;
}
