.profile{
    width: 100%;
    background-color: #fff;
}

.profile__header{
    position: relative;
}

.profile__avatar{
    margin-right: 25px;
}

.profile__avatar img{
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

.profile__body-user{
    display: flex;
    align-items: flex-end;
    margin: -4.6875rem 0rem 1.5625rem 0rem;
}

.profile__body-user-info{
    transform: translateY(-100%);
    display: flex;
    align-items: center;
}


.profile__image-main{
    width: 100%;
    max-height: 350px;
}

.profile__username{
    font-size: 21px;
    font-weight: 600;
    margin: 0px 10px 0px 0px;
}

.profile__body-user{
    padding: 0rem 3.125rem 0rem 3.125rem;
}


.profile__content{
    padding: 0rem 3.125rem 3.125rem 3.125rem;
}

.user-data__item{
    border-radius: 6px;
    padding: 1.25rem;
    background-color: var(--seafoam-green);
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.325em;
    position: relative;
    margin-bottom: 0.9375rem;
}

.user-data__item:last-child{
    margin-bottom: 0rem;
}

.user-data__item::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
    width: 4px;
    border-radius: 6px;
    height: 50%;
    display: block;
    background-color: var(--lime-green);
}

.user-data__text{
    flex: 1 1 auto;
}

.user-data__data{
    text-align: center;
}

.profile__description{
    text-align: center;
    margin-bottom: 3.125rem;
    line-height: 1.456em;
}

.profile__status{
    background-color: var(--main-color);
    color: #fff;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    min-width: 6.25rem;
}

.profile__status span{
    margin-right: 5px;
}

.user-data{
    margin-bottom: 3.125rem;
}

.profile__online{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.online-servers__item{
  text-align: center;
}


.online-servers__item:last-child{
    margin-right: 0rem;
}

.online-servers{
    display: flex;
    padding: 0px 1.25rem;
    flex-wrap: wrap;
    gap: 1.5625rem;
}

.online-servers__server-name{
    margin-bottom: 0.625rem;
}

.profile__status{
    position: relative;
}
.profile__statuses{
    position: absolute;
    opacity: 0;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 100%;
    padding: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 2;
    background-color: var(--main-color);
    color: #fff;
    visibility: hidden;
    text-align: left;
    width: 100%;
    transition: 0.3s linear; 
}

.active-status {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.active-status .profile__statuses{
    opacity: 1;
    transition: 0.3s linear; 
    visibility: visible;
}

.profile__status-item{
    margin-bottom: 5px;
}

.profile__status-item:last-child{
    margin-bottom: 0px;
}