/* 520 */

@media (max-width: 32.5em) {
  .profile__body-user {
    padding: 0rem 0.9375rem;
  }
  .profile__avatar img {
    width: 120px;
    height: 120px;
  }
  .profile__description {
    margin-bottom: 1.5625rem;
  }
  .profile__body-user {
    margin: -4.6875rem 0rem 0.625rem 0rem;
  }
  .user-data__item {
    font-size: 1rem;
  }
}

/* 480 */

@media (max-width: 30em) {
  .profile__body-user-info {
    transform: translateY(0%);
    flex-direction: column;
  }
  .profile__username {
    color: #fff;
    margin: 0rem 0.625rem 0.9375rem 0rem;
  }
  .profile__body-user {
    align-items: center;
  }
  .profile__avatar img {
    width: 100px;
    height: 100px;
  }
  .user-data__item {
    padding: 0.9375rem;
  }
}

/* 380 */

@media (max-width: 23.75em) {
  .profile__username {
    font-size: 1.125rem;
  }
  .profile__online {
    font-size: 1rem;
  }
  .user-data__item {
    font-size: 0.875rem;
  }
  .online-servers__item {
    font-size: 0.875rem;
  }
}
