.item-nav {
  font-size: 1.25rem;
  padding: 1rem 0rem;
  border-bottom: 3px solid #eee;
  margin-bottom: 0.9375rem;
  cursor: pointer;
}

.item-nav:last-child {
  margin-bottom: 0rem;
}

.item-nav a {
  display: inline-block;
  transition: 0.3s linear;
}

.item-nav:hover a {
  transition: 0.3s linear;
  transform: translate(10%, 0%);
}


.item-nav button {
  transition: 0.3s linear;
}

.item-nav:hover button {
  transition: 0.3s linear;
  transform: translate(10%, 0%);
}

