@use "../../../../utils/helpScss/functions.scss" as f;

.layoutBurger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-right: f.rem(15);
}

.layoutBurger {
  span {
    width: 100%;
    height: 2.5px;
    background-color: #fff;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0%;
    left: 0;
  }
}

.monitoringHeader {
  margin-bottom: f.rem(20);
}

.monitoring{
  padding-bottom: f.rem(25);
}

@import "./media.scss";
