@use "../../utils/helpScss/functions.scss" as f;
@use "../../utils/helpScss/breakpoints.scss" as b;

@media (max-width: map-get(b.$breakpoints, "phoneLandscape")) {
  .list {
    margin-bottom: f.rem(50);
  }
}

@media (max-width: map-get(b.$breakpoints, "phone")) {
  .bodyInfo {
    width: 100%;
  }
  .icon {
    max-width: f.rem(100);
    max-height: f.rem(100);
    margin-bottom: f.rem(25);
  }
  .bodySection {
    margin-bottom: f.rem(50);
  }
}
