@use "../../utils/helpScss/functions.scss" as f;
@use "../../utils/helpScss/breakpoints.scss" as b;

@media (max-width: map-get(b.$breakpoints, "desktopLandscape")) {
  .sidebar {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }
  .sectionSidebar {
    font-size: f.rem(18);
  }
}

@media (max-width: map-get(b.$breakpoints, "phoneLandscapeExtra")) {
  .signBtn {
    font-size: f.rem(16);
  }
}

@media (max-width: map-get(b.$breakpoints, "phone")) {
  .nameSection {
    font-size: f.rem(18);
  }
}
