.questions {
  width: 100%;
  background-color: #fff;
}

.questions__body {
  position: relative;
  margin-bottom: 3.125rem;
}

.questions__body img {
  object-fit: cover;
  width: 100%;
  max-height: 31.25rem;
}

.questions__body-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.question__title {
  margin-bottom: 0.625rem;
}

