@use "../../../../utils/helpScss/breakpoints.scss" as b;
@use "../../../../utils/helpScss/functions.scss" as f;

@media (max-width: map-get(b.$breakpoints, "desktopLandscape")) {
  .list {
    margin-bottom: f.rem(5);
    width: 100%;
  }
  .listBlock {
    padding: f.rem(25) 0;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      margin: 0 0 0 0;
    }
  }
}
