

.buy-unban{
    width: 100%;
    background-color: #fff;
}

.buy-unban__content{
    position: relative;
    z-index: 10;
}

.buy-unban__select{
    margin-bottom: 1.5625rem;
}

.form-buy-unban__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-buy-unban__btn{
    display: block;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.buy-unban__info{
    font-size: 1.125rem;
    line-height: 1.3em;
    margin-bottom: 1.5625rem;
}
