/* 640 */

@media (max-width: 40em) {
  .team-project__body-item {
    grid-template-columns: 1fr;
  }
}

/* 520 */

@media (max-width: 32.5em) {
  .team-project__body-info {
    margin: 0rem 1.5625rem 0rem 1.5625rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .team-project__icon-sign {
    margin-right: 0rem;
    max-width: 7.5rem;
    max-height: 7.5rem;
  }
  .team-project__header {
    height: 21.875rem;
  }
}

/* 480 */

@media (max-width: 30rem) {
  .team-project__sarver-name {
    font-size: 1.3125rem;
  }
}

/* 380 */

@media (max-width: 23.75rem) {
  .team-project__sarver-name {
    font-size: 1.125rem;
  }
  .team-project__name {
    font-size: 1.125rem;
  }

  .team-project__status {
    font-size: 1rem;
    color: rgba(255, 66, 14, 0.5);
  }
}
