@use "../../../../utils/helpScss/functions.scss" as f;

.info {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.infoItem {
  margin-bottom: f.rem(15);
  border: 1px solid #000;
  padding: f.rem(20);
}

.item {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@import "./media.scss";
