.settings-security__lists {
  margin-bottom: 3.125rem;
}

.change-pass {
  margin-bottom: 6.25rem;
}

.settings-security__body-btn {
  display: flex;
  justify-content: center;
}

.settings-security__btn {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 1rem;
}

.settings-security__wrapper {
  width: 100%;
}
