/* 640 */

@media (max-width: 40em) {
  .user-header__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .user-header__avatar {
    margin: 0rem 0rem 1.5625rem 0rem;
  }
  .user-header__avatar img {
    width: 150px;
    height: 150px;
  }
  .user-header::before {
    height: 25rem;
  }
  .user-header__wrapper {
    margin-bottom: 1.5625rem;
  }
  .user-header {
    padding: 1.5625rem 1.5625rem 0rem 1.5625rem;
  }
}

/* 480 */

@media (max-width: 30em) {
  .user-header__greetings {
    font-size: 1.3125rem;
  }
  .user-header__return{
    font-size: 1.125rem;
  }
}
