.down-launcher {
  background-color: #fff;
}

.down-launcher__title {
  padding-top: 3.125rem;
  margin-bottom: 1.5625rem;
}

.down-launcher__text {
  margin-bottom: 1.5625rem;
}

.down-launcher__text:nth-child(3) {
  margin-bottom: 3.125rem;
}

.down-launcher__choose {
  text-align: center;
  margin-bottom: 3.125rem;
}

.down-launcher__system {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  max-width: 15.625rem;
  width: 100%;
  height: 15.625rem;
}

.down-launcher__body-system-choose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3.125rem;
}

.down-launcher__system img {
  margin-bottom: 1.5625rem;
  transition: 0.3s linear;
}

.down-launcher__system::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/images/page/DowloadLauncher/image-dowloadLauncher.png")
    100%/100% no-repeat;
  transition: 0.3s linear;
}

.down-launcher__system:hover img {
  transition: 0.3s linear;
  transform: scale(1.1);
}

.down-launcher__system:hover::before {
  transition: 0.3s linear;
  transform: scale(0.9);
}

.down-launcher__name-system {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.125em;
}
