


.settings-profile{
    color: #000;
    margin-bottom: 50px;
}

.setting-profile__content{
}

.settings-profile__wrapper{
    width: 100%;
}

.settings-profile__body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.settings-profile__title{
    margin-bottom: 0.9375rem;
    text-align: center;
}

.settings-profile__description{
    text-align: center;
    max-width: 21.875rem;
    margin-bottom: 1.5625rem;
    flex: 1 1 auto;
}

.settings-profile__body-settings{
    margin-right: 0.9375rem;
    display: flex;
    flex-direction: column;
}

.settings-profile__download{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 0.625rem;
    color: #fff;
}

.settings-profile__download input{
    width: 100%;
}

.settings-profile__body-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.settings-profile__description-profile{
    border: 1px solid #000;
    width: 60%;
    padding: 0.9375rem;
    height: 5rem;
    font-size: 1rem;
    line-height: 1.331rem;
    margin-bottom: 3.125rem;
    resize: none;
}

.settings-profile__opportunity-profile{
    margin-bottom: 1.5625rem;
}