/* 640 */

@media (max-width: 40em) {
  .settings-profile__body {
    flex-direction: column;
    text-align: center;
  }
  .settings-profile__body-settings {
    margin-right: 0;
    margin-bottom: 3.125rem;
  }
  .settings-profile__body-settings:last-child {
    margin-bottom: 0rem;
  }
  .settings-profile__description {
    max-width: initial;
  }
  .settings-profile__description-profile {
    width: 100%;
  }
  .settings__navigator {
    grid-template-columns: repeat(2, 0.5fr);
  }
  .settings__avatar {
    max-width: 9.375rem;
    height: 9.375rem;
    margin-right: 15px;
  }
  .settings__header::before {
    content: "";
    height: 25rem;
  }
  .settings__greetings {
    font-size: 1.5rem;
  }
  .settings__image-point {
    max-width: 9.375rem;
    height: 9.375rem;
  }
}

/* 520 */

@media (max-width: 32.5em) {
  .settings__header {
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
  }
  .settings__navigator {
    grid-template-columns: 1fr;
    gap: 0.9375rem;
  }
}

/* 480 */

@media (max-width: 30em) {
  .settings__user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .settings__header {
    margin-bottom: 1.5625rem;
  }
  .settings__greetings {
    font-size: 1.3125em;
  }
  .settings__avatar {
    max-width: 7.5rem;
    height: 7.5rem;
    margin-right: 0rem;
  }
  .settings__image-point {
    max-width: 7.5rem;
    height: 7.5rem;
  }
  .settings-profile__title {
    margin-bottom: 5px;
  }
}
